$padding: 1em;

$color: black;
$background-image: none;
$background-color: transparent;

$color-inverse: white;
$background-color-inverse: black;
$background-image-inverse: linear-gradient(rgba(22, 22, 165, .9), rgba(22, 22, 165, .9));
