$padding: 1em;

$color: black;
$background-image: none;
$background-color: transparent;

$color-inverse: white;
$background-color-inverse: white;
$background-image-inverse: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
