.navbar {
    display: flex;
    flex-direction: row;
    background-color: $background-color-inverse;
    box-shadow: 0 0 45px $background-color-inverse;
    @include apply-absolute-color( $color-inverse );

    @media ( max-width: 520px ) {
        flex-direction: column;

        > :not( hr ):first-child {
            border-bottom: 3px $color-inverse solid;
        }
    }

    > :not( hr ) {
        font-weight: bold;
        padding: $padding;
        font-family: Signika;
    }

    > hr {
        opacity: 0;
        flex-grow: 1;

        ~ :not( hr ) {
            font-weight: normal;
        }
    }
}

html > body > nav {
    top: 0;
    z-index: 999;
    @extend .navbar;
    position: sticky;
}
