.parallax {
    margin: 0;
    padding: 0;
    display: flex;
    perspective: 1px;
    flex-direction: column;

    > :nth-child( n ) {
        top: 0;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items:flex-start;
        display: flex !important;

    }
}

